.navbar {
  background-color: rgb(200, 212, 19);
  position: fixed;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  top: 0;
  border-bottom: solid 1px gray;

  .nav-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 3px;
  }
}